# Ignore all .log files
*.log

# Ignore temporary files
*.tmp

# Ignore Python cache files (anywhere in the project)
__pycache__/
**/__pycache__/
*.pyc

# Ignore environment folders
venv/
.env/


# Ignore the saved models
results/*
results2/*

# Ignore MNIST data
data/MNIST/*


# Module 
ClassComp.egg-info